# Global Seed
seed: 0

# Datamodule Config
data_module:
  _target_: wiskers.datasets.cifar10.data_module.CIFAR10Subset
  data_dir: "./datasets/"
  batch_size: 16
  num_workers: 2
  image_size: 32
  category_name: "cat"
  # augmentations
  random_horizontal_flip: false

# Logger Configs
tensor_board_logger:
  save_dir: "./experiments"
  name: "ae"
  version: null

# Export Model
export_onnx: True
export_safetensors: True

# Module Config (model and optimizer)
module:
  _target_: wiskers.modules.ae_module.AEModule
  # model
  in_channels: 3
  stem_channels: 32
  out_channels: 3
  num_heads: 0 # A value of 0 implies scaled dot-product attention instead of multihead attention.
  block_channels: [64, 128, 256]
  block_attentions: [True, True, True]
  image_size: ${data_module.image_size}  # Use a reference to data_module.image_size
  activation: "torch.nn.ReLU"
  # optimizer
  learning_rate: 1e-4

# Training Configs
earlystopping: False

# lightning.Trainer Config
trainer:
  # fast_dev_run: 1
  limit_train_batches: 1.0
  limit_test_batches: 1.0
  limit_val_batches: 1.0
  max_epochs: 20
  log_every_n_steps: 10
